.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 360px;
  height: 550px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 800;
  color: #288ead;
}

.form {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* gap: 18px;
  margin-bottom: 15px; */
}
.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.form-group {
  flex: 1;
}

.input {
  width: 100%;
  border-radius: 22px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 18px;
}


.form-btn {
  width: 100%; 
  padding: 10px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 25px;
  border: 0 !important;
  outline: 0 !important;
  background: #288ead;
  color: white;
  cursor: pointer;
  box-shadow: rgba(133, 189, 215, 0.878) 0px 30px 30px -20px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.form-btn:hover {
  background: #1e6ea7; /* Darker shade of primary color on hover */
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: #288ead;
  text-decoration: none;
  color: #288ead;
  font-weight: 800;
}

.sign-up-link:hover {
  text-decoration: underline;
}
  
  .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
  }

