<div class="background-container">
  <div class="blue-background">
    <div class="form-container">
      <br>
      <br>
      <p class="title">Welcome back</p>
      <form class="form" (ngSubmit)="onLogin()" method="post">
        <input type="email" class="input" placeholder="Email" [(ngModel)]="loginModel.patientEmail" [(ngModel)]="doctorModel.doctorEmail" name="email" required>
        <input [type]="passwordFieldType" class="input" placeholder="Password" [(ngModel)]="loginModel.patientPassword"  [(ngModel)]="doctorModel.password"name="password" required>
        <div class="show-password-checkbox">
          <input type="checkbox" id="showPassword" (click)="togglePasswordVisibility()">
          <label for="showPassword">Show Password</label>
        </div>
        <button class="form-btn" type="submit">Log in</button>
      </form>
      <p class="sign-up-label">
        <br>
        Don't have an account?<a routerLink="/create-account"><span class="sign-up-link">Sign up</span></a>
        <br>
        Are You a Doctor?<a routerLink="/sign-up-doctor"><span class="sign-up-link">Sign up here</span></a>
      </p>
    </div>
  </div>
</div>
