/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";

@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  body.light-mode {
    background-color: #ffffff;
    color: #0c0c0cda;
  }
  
  body.dark-mode {
    background-color: #0c0c0cda;
    color: #ffffff;
  }
  
  form,
  input,
  select,
  button {
    background-color: inherit;
    color: inherit;
  }
  
  button[type="submit"] {
    border: 1px solid currentColor;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  button[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .contact-info-container {
    padding: 20px;
  }
  
  .contact-info-container .contact-details,
  .contact-info-container .contact-form {
    margin-bottom: 20px;
  }
  
