
       <!DOCTYPE html>
       <html lang="en">
        <head>
           <meta charset="UTF-8">
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <title>Home Page</title>
       </head>
       <body>
        <header class="header">
          <div class="container">
            <div class="logo">
              <img src="assets/logo.JPG" alt="Home page">
            </div>
            <nav class="nav">
              <a routerLink="/signup"><i class="fas fa-sign-in-alt"></i>Sign up </a>
            </nav>
          </div>
        </header>
         <section class="about">
          <div class="container">
            <div class="about-content">
              <h2>Book Your Doctor Appointment Online.</h2>
              <p>A Helthier Tomorrow Starts Today.Schedule Your Appointment!</p>
              <p>  Your Wellness,Our Responsility.Set up Your Appointment Today</p>   
            </div>  
            <div class="about-image">
              <img src="assets/b1.JPG" alt="Surgery">
            </div>          
          </div>
        </section>
        <br>
        <br>
        <footer class="footer">
          <div class="container">
              <p>&copy; 2024 Safaa Hospital. All rights reserved.</p>
          </div>
      </footer>
       </body>
       </html>  